# Kernel build artifacts
*.o
*.ko
*.mod
*.mod.c
*.cmd
Module.symvers
modules.order

# Hidden kernel build files
.*.cmd
*.tmp

# Binaries (user programs)
engine
cpu_hog
memory_hog
io_pulse

# Logs
logs/
*.log

# Container filesystems
rootfs-*

# Large / unnecessary files
*.tar.gz

# Editor / OS junk
*~
*.swp
.DS_Store
Thumbs.db
